* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}
.banner {
  background-color: #0f71a5;
}
.sidebar-container {
  align-items: center;
  background-color: #414141;
  display: flex;
  height: 100%;
  width: 210px;
  /* margin: 10px; */
  position: fixed;
  z-index: 1;
  /* padding-top: 20px; */
  padding: 0;
  top: 0;
}
.sidebar-list {
  /* display: flex; */
  list-style: none;
  /* align-items: center; */
  /* text-align: center; */
}
.sidebar-list-item:hover {
  flex-grow: 2;
  /* margin: 10px; */
  /* padding: 5px; */
  background-color: #ffffff;
}
h3.sidebar-text {
  font-size: 30px;

}
p.sidebar-text {
  font-size: 14px;
}
.sidebar-text {
  color: #c864a2;
}
.main {
  margin-left: 210px;
}
.banner {
  text-align: center;
}
