* {
  /* box-sizing: border-box; */
}
body {
  margin: 0;
  padding: 0;
}
.banner {
  background-color: #0f71a5;
}
nav {
  border: 3px solid yellow;
  /* display: flex; */
  /* height: 100%; */
  position: fixed;
  z-index: 1;
  /* top: 0; */
}
nav ul {
  border: 1px dotted pink;
  /* display: flex; */
  list-style-type: none;
  /* align-items: center; */
  padding: 0;
  margin: 0;
}
nav li {
  background-color: #414141;
  border: 1px dashed green;
  text-align: center;
  width: 15rem;
  /* flex-grow: 2; */
  /* margin: 10px; */
  /* padding: 5px; */

}
nav li a {
  border: 1px dotted blue;
  text-decoration: none;
}
nav li:hover {
  background-color: #ffffff;
}
nav a .sidebar-nav-text h3 {
  color: #c864a2;
  font-size: 2rem;
  margin: 0;
}
nav a .sidebar-nav-text p {
  color: #c864a2;
  font-size: 1rem;
  margin: 0;
}
.main {
  /* margin-left: 210px; */
  width: 80%;
}
.banner {
  text-align: center;
}
